server {
  listen       ${NGINX_PORT};
  server_name  _;

  location ~ \.(jpg|mp4) {
    root /mnt/imgs;
    mp4;
    mp4_buffer_size       1m;
    mp4_max_buffer_size   5m;
    limit_rate 260k;
    limit_rate_after 3m;
  }

  location / {
    index index.html;
    try_files $uri /index.html;
    root /usr/share/nginx/html;
  }
}
