server {
  listen       ${NGINX_PORT};
  server_name  _;

  location /imgs/ {
    autoindex on;
    sendfile on;
    alias /mnt/imgs/;
  }

  location / {
    index index.html;
    try_files $uri $uri/ $uri.html =404;
    root /usr/share/nginx/html;
  }

#  location ~ \.(jpg|mp4) {
#    root /mnt/imgs;
#    mp4;
#    mp4_buffer_size       1m;
#    mp4_max_buffer_size   5m;
#    limit_rate 260k;
#    limit_rate_after 3m;
#    sendfile           on;
#  }
}
